<p id="notice"><%= notice %></p>

<h1>Listing Gifs</h1>


<div class="container">
  <% @gifs.each_slice(4) do |row| %>
    <div class="row">
      <% row.each do |gif| %>
        <div class= "col-xs-3">
          <%= link_to image_tag(gif.picture, :class => "img-responsive"), "#","data-toggle" => "modal", "data-target" => "#myModal#{gif.id}" %>
          <%= render :partial => "gifs/myModal", :locals => {:gif => gif} %>
          <%= link_to "Destroy", gif_path(gif), method: :delete  %>
        </div>
      <% end %>
    </div>
  <%end%>
</div>


<%= link_to 'New Gif', new_gif_path %>
