<% provide(:title, "PostIt") %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PostIt", root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><% if user_signed_in? %>
          Logged in as  <strong><%= current_user.email %></strong>
          </li>
              <li></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "My Gifs", gifs_path %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
      </ul>
    </nav>
  </div>
</header>
